body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3vh;
    background-image: url(images/SolmazSharif.jpeg);
    background-size: 100%;
}

p {
    margin: 1vh 4px;
}

.desktop {
    display: flex;
    justify-content: space-between;
}

.poem {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 4px;
    padding: 15px;
}

.but {
    display: flex;
    flex-direction: row;
}

.events {
    color: red;
    opacity: 0;
    transition: opacity 2s ease-out 30s;
    cursor: crosshair;
}

.events:hover {
    opacity: 1;
    transition: opacity 0.5s ease-out 0s;
}

.hello {
    font-size: 22px;
    transition: color 0.5s ease-out 10s;
}

.hello:hover {
    color: rgb(47, 176, 47);
    transition: color 0.5s ease-out 0s;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

footer {
    color: rgb(123, 123, 123);
    margin-top: 30px;
    display: flex;
    align-self: flex-end;
}