body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}


/* .star {
    background: url(assets/star.png);
    display: inline-block;
    height: 20px;
    width: 20px;
} */


/* .star:hover textarea {
    width: 1.5vmin;
    height: 1.5vmin;
} */

textarea {
    resize: none;
}

* {
    box-sizing: border-box;
}

img {
    width: 7vmin;
    height: 7vmin;
}

body {
    background-color: black;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    flex-wrap: wrap;
}

.container>div {
    font-size: 5vw;
    padding: .5em;
    color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 3px;
    background: rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
}

.container>div:nth-child(odd) {
    width: 10%;
}

.container>div:nth-child(even) {
    width: 20%;
}

.container>div:nth-child(2),
.container>div:nth-child(4),
.container>div:nth-child(9) {
    width: 60%;
}

.img1 {
    transform: scale(2);
}

.img2 {
    transform: scale(2.5);
}

.img3 {
    transform: scale(0.6);
}

.img4 {
    transform: scale(2.7);
}

.img5 {
    transform: scale(1.8)
}

.img6 {
    transform: scale(.5)
}

body {
    margin: 0;
}