@import url('https://fonts.googleapis.com/css?family=Rubik+Bubbles:wght@900&display=swap');
.button {
    justify-self: center;
    background: rgb(103, 147, 125);
    border-radius: 3px;
    width: 10vmin;
    height: 7vmin;
    cursor: pointer;
    font-family: 'Rubik Bubbles';
    font-size: 2vmin;
}

.button:hover {
    background: rgb(54, 107, 81);
}

body {
    background-image: url('assets/background.png');
    background-color: rgb(102, 58, 48);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat-x;
    overflow: hidden;
}

main {
    height: 82vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-family: 'Rubik Bubbles';
    color: brown;
    font-size: 4vmin;
}

h1 {
    text-align: center;
    animation: float 2sec infinite;
}

#caterpillar {
    overflow: hidden;
}

#caterpillar,
#c_body {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

img {
    margin: -20px;
    padding: 0px;
}

@keyframes float {
    0% {
        transform: translateY(10vh);
    }
    50% {
        transform: translateY(-4vh);
    }
    100% {
        transform: translateY(2vh);
    }
}